<div class="row">
  <div class="span3">
    <div class="pa-sidebar well well-small">
      <ul class="nav nav-list">
        <li ng-class="{ active: $state.includes('reviews.list') }"><a ui-sref="reviews.list">All Reviews</a></li>
        <li class="nav-header">Top Reviews</li>

        <!-- This <li> will only add the 'active' class if 'contacts.detail' or its descendants are active
             AND if it is the link for the active contact (aka contactId) -->
        <li ng-repeat="review in reviews | limitTo:4" ui-sref-active="active">

          <!-- Here's a ui-sref that is also providing necessary parameters -->
          <a ui-sref="reviews.detail({reviewId:review.id})">{{review.name}}</a>
        </li>
      </ul>
      <hr>
      <button class="btn" ng-click="goToRandom()">Show random review</button>

      <!-- Another named view -->
      <div ui-view="menuTip"></div>
    </div>
  </div>

  <!-- Our unnamed main ui-view for this template -->
  <div ui-view class="span9 slide"></div>
</div>
